body{
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/pexels-kellie-churchman-1001682.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    width: 550px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
    margin-left: 30%;
    margin-top: 2%;
}

.box div{
    padding: 20px;
    background-color: #E2EBF1;
}